target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

#studio
*.*proj.user
*.sln.user
*.sln.*.user
/**/bin
/**/obj
/NetCore/MarketData/.vs

node_modules
output
typings
npm-debug.log

